form#datavizwiz-gen-filters { background-color: #eee;
  border-radius: 0.3em; margin: 1em 0;
  float: left; padding: 0.8em 1%; width: 98%; }

form#datavizwiz-gen-filters .form-item {
  background-color: transparent;
  border: none;
  position: relative;
  float: left;
  margin: 0 4em 1.5em 0;
}

form#datavizwiz-gen-filters .form-item label {
  color: #888;
  font-weight: normal;
  float: left;
  margin-right: 1em;
}

form#datavizwiz-gen-filters input[type='submit'] {
  float: left;
  clear: both;
  margin-top: 0;
}

form#datavizwiz-gen-filters select { background: #fff; border: 1px solid #ccc;
min-width: 7em; box-shadow: 2px 2px 5px -4px rgba(0, 0, 0, 0.5) inset; }

form#datavizwiz-gen-filters input.form-text {
  width: 10em; padding: 0.1em 0.2em; height: 1.5em;
  border: 1px solid #ccc;
  border-radius: 0.2em;
  box-shadow: 2px 2px 5px -4px rgba(0, 0, 0, 0.5) inset; }

#dvwPanes {
position:relative;
width:100%;
}

#dvwTabs { 
border-top: 1px solid #efefef; padding-top: 1em;
float: left; width: 100%; }

#dvwTabContent {
position:relative;
height:266px;
font:12px Verdana, Arial, Helvetica, sans-serif;
color:#444444;
clear: left;
/* overflow:auto; */
}

#dvwTabContent .dvwContent{
/* display:none; */
position: absolute;
left:-20000px;
top:0 ;
width:100%;
height: 600px;
 }

#dvwTabContent .dvwActive{
display:block;
left:0;
}

/* Tab menu styles generated via the horitontal menu builder @ www.cssmenubuilder.com */
ul.dvwMenu { margin: 0; padding:0; width:100%; float: left; }
.dvwMenu li { padding: 0; margin: 0 1em 1em 0; list-style:none; float: left; }
.dvwMenu li a { float:left; padding: 0.6em 1.4em; display:block; color: #888; text-decoration:none; font-family: Verdana, Arial, Helvetica, sans-serif; cursor:pointer; background: #fff; border-radius: 0.3em; } 
.dvwMenu li a span{line-height:30px; float:left; display:block; padding-right:15px; background:url('topMenuImages.png') 100% -30px no-repeat;}
.dvwMenu li a.dvwActive,
.dvwMenu li a:hover{ background-color: #eee; }
.dvwMenu li a:hover span{background-position:100% -60px;}
.dvwMenu li a.active, .dvwMenu li a.active:hover{line-height:30px; font:12px Verdana, Arial, Helvetica, sans-serif; background:url('topMenuImages.png') 0px -90px no-repeat; color:rgb(82,82,82);}
.dvwMenu li a.active span, .dvwMenu li a.active:hover span{background:url('topMenuImages.png') 100% -90px no-repeat;}

.dvwDetail {
  float: left;
  width: 45%;
  margin: 8px 15px 0 0;
}

.dvwDetail strong {
  color: #777;
  padding: 0 0 2px 0;
  border-bottom: 1px #EFEFEF solid;
  margin: 0 0 2px 0;
  display: block;
}

.dvwDetail + .wide {
  width: 98%;
}

#dvw-detail {
  padding-bottom: 50px; 
}


#dvw-opendatalinks { float: left; width: 100%; }

#dvw-opendatalinks ul,
#dvw-opendatalinks ul li {
  float: left;
  list-style-type: none;
  background: none;
  padding: 0;
  margin: 0;
}

#dvw-opendatalinks ul li { margin-right: 1em; }



#dvw-infobox {
  position: absolute;
  display: none;
  bottom: 10px; 
  right: 10px; 
  padding: 10px; 
  background-color: black; 
  z-index: 10000; 
  opacity: .8; 
  color: #ffffff;
}

#dvwTabContent div.legend table {
  width: 25%;
}

.dvwPieLabel {
  font-size:10pt;
  width:150px;
  text-align:center;
  padding:2px;
  color:#fff;
  font-weight:bold;
}
